:root{
--cor-primaria:#2E8BC0;
--cor-primaria-clara:#B1D4E0;
--cor-primaria-escura: #0C2D48;

--cor-secundaria-clara:#E2DED0;
--cor-secundaria-escura:#746C70;

--cor-neutra-clara:#647C90;
--cor-neutra-escura:#4E4F50;

  --tamanho:16px;
  --tamanho-pequeno:8px;
  --tamanho-grande:32px;
}
body{
  background-color: var(--cor-primaria-clara);
}
header{
  background-color: var(--cor-primaria-escura);
  overflow: auto;
  margin-bottom: var(--tamanho-grande);
}
h1{
  font-size: 120px;
  text-align: center;
  margin-top: 0.6em;
  color: var(--cor-secundaria-clara);
}
aside{
  background-color: var(--cor-secundaria-clara);
  float: right;
  margin: var(--tamanho-pequeno);
  border-radius: var(--tamanho-pequeno);
  padding: var(--tamanho);
}
#txt_livro{
  width: 500px;
  margin-right: var(--tamanho);
}
main form{
  margin-bottom: var(--tamanho-grande);
}
article{
  width: 960px;
  background-color: var(--cor-secundaria-clara);
  border-radius: var(--tamanho-pequeno);
  padding: var(--tamanho);
  margin: auto;
  margin-bottom: var(--tamanho-pequeno);
  display: flex;
}
article img{
  width: 160px;
  margin-right: var(--tamanho);
}
.livro-dados{
  width: 80%;
}
h3{
  font-size: 24px;
}
.marcador{
  position: relative;
}
.material-icons{
  font-size: 48px;
}
.contador{
  background-color: var(--cor-secundaria-clara);
  border-radius
}
